:root *{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
a {text-decoration:none; color: white;}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.cv-button{
    border-radius: 20px;
    border-style: solid;
    width: 100px;
    font-weight: 700;
    margin: 2px;
    background-color: black ;
    color: #fff;
    transition: background-color 0.3s;
}
.cv-button:hover{
    background-color: transparent;
}
.button-wrapper{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 20px;
    width: 103px;
    margin-right: 1rem;
}
nav{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1); 
}
nav *{
    color: white;
    
}
.nav-container{
    padding: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav-container h4{
    font-size: larger;
}

.main-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-container > *{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.card{
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card img{
    object-fit: contain;
    width: 200px;
    height: 175px;
}

.projects-container{
    margin-top: 1rem;
    gap: 3rem 2rem;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}


.opened-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    position: f;
}
.opened-image-container img{
   max-height: 70vh;
}
.close-button{
    height: 30px;
    width: 60px;
    background-color: #fff;
    color: black;
    margin:1rem;
    
}
.tech-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 10vw;
    height: 10vw;
    aspect-ratio: 1;
    border-radius: 50%;
    min-height: 90px;
    min-width: 90px;
    -webkit-box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 7px 13px -9px rgba(66, 68, 90, 1); 
}

.tech-logo img{
    width: 70%;
    height: 70%;
    object-fit: contain;

}

.gradient{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.gradient h4{
    color: white;
    font-weight: 800;
}


Button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover,
Button:focus {
  opacity: .75;
}

@media (max-width: 470px) {
    .projects-container{
        align-items: center;
        justify-content: center;
    }
  }

