:root{
    --background-color:rgba(242, 233, 233, 0.938);
    --primary-color: rgba(23, 183, 80, 1);
    --secondary-color: red;
    --icon-color: rgb(122, 122, 122);
    --object-color:rgb(35, 35, 35);
    --black-glass:rgba(0,0,0,0.7);
    --width:90vw;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: .2s linear;
    color: black;
}

main{
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#17B750 1.9000000000000001px, transparent 1.9000000000000001px), radial-gradient(#17B750 1.9000000000000001px, #ffffff 1.9000000000000001px);
    background-size: 76px 76px;
    background-position: 0 0,38px 38px;
}

#showTemplate{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    margin: 50px;
}

/* Style for the sidebar menu */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    padding: 5px;
  
}
.slider-button{
    width: 100%;
    
}

/* Style for the header */
.header {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.pages-container{
    display: flex;
    z-index: 20;
}
.content{
    z-index: 40;
}

.main-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

    background-size: cover;
    padding: 10px;
    
}
.main-wrapper-more{
    justify-content: initial;
}

.content{
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    padding-left: 3px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 200px 1fr;
  
}
.image-content{
    display: flex;
    position: relative;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Style the button for file input */
.file-input-button {
  color: #fff;
  border: none;
  cursor: pointer;
  visibility: hidden;
  visibility: hidden;
}

/* Style the text input area (hidden) */
.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
 
}





.upload-image{
    width: 500px;
    height: 500px;
    background-color: var(--black-glass);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
   -webkit-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   -moz-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   border-radius: 5px;

}

.upload-image:hover{
    background-color: black;
}

.upload-image i,h2{
    color: var(--primary-color);    
}
.upload-image i {
    font-size: 200px;
    
}
.upload-image h2{
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

#container {
    position: relative;
   
    overflow: hidden;
    display: flex;
  
   
    
}
.map {
   
    background-color:rgba(91, 138, 68,0.5);
    position: absolute;
    z-index: 1;
    cursor:move;
}

.resizer{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: black;
    z-index: 10;
    opacity: 1;
    cursor: nw-resize;
}
.delete-map {
    background-color: red;
    opacity: initial;
    
    width: 100%;
    height: 20%;
    position: relative;
    bottom: 0;
    
}
  
.delete-map:hover {
    background-color: #ff3333; /* Lighter red color on hover */
}

button{
   background-color: var(--primary-color);
   color: white;
   font-weight: 700;
   border: none;
   width: clamp(180px, 20%, 200px);
   height: 6vh;
   border-radius: 5px;
   -webkit-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   -moz-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
   margin-top:5px;
   margin-bottom: 5px;
   cursor: pointer;
   transition: all 0.2s;
}

button:hover{
    background-color: rgb(91, 138, 68);
}


.middleware{
    width: 100%;
    height: 100%;
}

img{
    pointer-events: none;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
}


.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.column >*{
    margin: 5px;
    padding: 5px;
}

#vector-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; /* Adjust the z-index as needed */
    height: 30vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    visibility: hidden;/* Optional box shadow */
  }
  
  /* Style the SVG path if needed */
  #vector-container svg {
    fill: white; /* Set the desired fill color for the SVG path */
  }





.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    max-width: 600px;
    padding: 30px;
   
  }
  
  .close-button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }

  
  input{
    width: 100%;
    height: 40px;
    font-size: 24px;
  }